<ion-header>
  <ion-toolbar id="toolbra">
    <ion-title>
      Reforma da Previdência <br/> Servidor Público
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content id="card">
      A reforma acaba com a aposentadoria somente
      por tempo de contribuição.
      A regra passa a ser 62 anos para a mulher e 65
      anos o homem, com 25 anos de contribuiçção,
      sendo, pelo menos, 10 anos de serviço público
      e 5 anos no cargo.
      <u><i>Professores e policiais têm regras diferentes.</i></u>
    </ion-card-content>
  </ion-card>
  <ion-item id="labelSimulacao">
    <h4>
      <b>Faça Uma Simulação</b>
    </h4>
  </ion-item>
  <ion-item color="light">
    <ion-input id="idade" [(ngModel)]="idade" type="number" placeHolder="Digite a Idade..."></ion-input>
  </ion-item>
  <ion-item color="light">
    <ion-input id="tempoContribuicao" [(ngModel)]="tempoContribuicao" type="number" placeHolder="Digite o tempo de contribuição em anos..."></ion-input>
  </ion-item>
  <ion-list>
      <ion-radio-group [(ngModel)]="valor">
        <ion-item color="light">
          <ion-label>Homem</ion-label>
          <ion-radio color="medium" value="homem" checked="true"></ion-radio>
        </ion-item>
        <ion-item color="light">
          <ion-label>Mulher</ion-label>
          <ion-radio color="medium" value="mulher"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  <ion-button color="medium" (click)="simular(idade, tempoContribuicao,valor)" expand="full">Simular</ion-button>
  <ion-item color="light">
    <ion-label stacked>Tempo até Atingir a Idade Mínima</ion-label>
  </ion-item>
  <ion-item>
    <ion-label id="resultadoTempo"></ion-label>
  </ion-item>
  <ion-item color="light">
    <ion-label stacked>Até Atingir o Tempo de contribuição</ion-label>
  </ion-item>
  <ion-item>
    <ion-label id="resultadoContribuicao"></ion-label>
  </ion-item>
  <ion-item color="light">
    <ion-label stacked>Ano em que se Aposentaria</ion-label>
  </ion-item>
  <ion-item>
    <i><ion-label id="aposentadoria"></ion-label></i>
  </ion-item>
</ion-content>
